body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 30px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  color: #fff;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  border-radius: 5px;
  box-shadow: 10px 8px 8px #dadde1;
}

.overview {
  margin-bottom: 50px;
}

.description {
  padding-bottom: 15px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-bottom: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #fff;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  top: -10px;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -22px;
  text-decoration: none;
  color: #fff;
}

.humidity {
  font-size: 18px;
}

.wind {
  font-size: 18px;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast-date {
  font-size: 16px;
  color: #fff;
}

.weather-forecast-temperature {
  font-size: 13px;
}
